@media (max-width:1170px) {
    .wrapper {
        width: 90%;
        margin: 0 auto;
    }
    .description_btn {
        width: 200px;
        margin: 0 auto;
        margin-top: 30px;
        margin-bottom: 20px;
        display: block;
        float: none;
    }
    .size_table {
        margin: 0 auto;
        margin-top: 30px;
        display: block;
        text-align: center;
        float: none;
    }
    #catalog .description_longline {
        width: 100%;
    }
    .delivery_image {
        transform: scale(0.8,0.8);
        margin-top: 50px;
        position: relative;
        left: 30px;
    }
    .delivery_text {
        padding-left: 20px;
    }
    .icon_wrap {
        display: none;
    }
    .menu_item_child {  
        padding-left: 5px;
        line-height: 30px;
    }
    .history_image {
        transform: scale(0.8);
        margin-top: 70px;
        position: relative;
        left: 50px;
     
    }
    .advantages_img {
        transform: scale(0.7);
        position: absolute;
        top: 100px;
        right: -110px;
    }
    .advant_content {
        width: 420px;
    }
 
    .advantages_text ul li{
        font-size: 18px;
    }
    .guide_copy {
        display: none;
    }
    .models_img {
        width: 500px;
        height: 380px;
    }
    .models_foto_content {
        width: calc(100% - 570px);
        width: -webkit-calc(100% - 570px);
        width: -moz-calc(100% - 570px);
    }
    .models_description p{
        font-size: 18px;
    }
    .models_preview {
        left: 125px;
    }
}
@media (max-width:960px) {
    .banner_description {
        transform: scale(0.8);
    }
    .icon_menu{
        display: block;
    }
    .menu {
        display: none;
    }
    .contact_form {
        transform: scale(0.8);
    }
    .history_image {
        display: none;
    }
    .images:nth-child(1), .images:nth-child(2), .images:nth-child(3), .images:nth-child(4), .images:nth-child(5), .images:nth-child(6) {
        width: 47%;
        height: 250px;  
        position: relative;
        display: inline-block;
        vertical-align: top;
        margin: 1%;
        left: 0;
        overflow: hidden;
    }
    .images img {
        height: 120%;    
        background-size: cover;
    }
    .images:nth-child(2) img, .images:nth-child(3) img, .images:nth-child(6) img{
        position:relative;
        left: 0;
        height: 120%;  
    }
    .advantages_img {
        transform: scale(0.6);
        position: absolute;
        top: 100px;
        right: -130px;
    }
    .advant_content {
        width: 350px;
    }
    .models_img {
        width: 350px;
        height: 270px;
    }
    .models_foto_content {
        width: calc(100% - 420px);
        width: -webkit-calc(100% - 420px);
        width: -moz-calc(100% - 420px);
    }
    .models_description p{
        font-size: 20px;
    }
    .models_preview {
        left: 50px;
    }
    .catalog_item {
        width: 30%;
    }
    .description_content {
        font-size: 18px;
    }
    .footer_content {
        font-size: 25px;
        width: 50%;
    }
    .models_foto_content h2 {
        font-size: 32px;
        line-height: 40px;
    }
    .models_price p {
        font-size: 40px;
    }
    .gallery_wrap {
        height: 800px;
    }
}
@media (max-width:768px){
    .advantages_img {
        transform: scale(0.3);
        position: absolute;
        top: 100px;
        right: -210px;
        margin-left: 50px;
    }
    .advant_content {
        width: 400px;
    }
    .catalog_item {
        width: 45%;
    }
     .delivery_image {
      display: none;
    }
    .delivery_text {
        width: 100%;
        padding-left: 20px;
    }
    .models_foto_content h2 {
        font-size: 28px;
        line-height: 38px;
    }
    .models_price p {
        font-size: 36px;
    }
    .models_description{
        position: absolute;
        top: 550px;
        left: 0;
    }
    .models_preview {
        margin-bottom: 250px;
    }
    .models_foto_content .description_btn {
        width: 150px;
        height: 65px;
        margin-top: 100px;
        line-height: 25px;
        position: relative;
        right: 10px;
    }
    .size_table {
        margin-top: 80px;
    }
    .models_foto_content {
        margin-left: 20px;
    }
}
@media (max-width:600px){
    .banner_description {
        transform: scale(0.8);
        position: absolute;
        right: calc(50% - 245px);
        right: -webkit-calc(50% - 245px);
        right: -moz-calc(50% - 245px);
    }
    .advantages_img {
        display: none;
    }
    .advant_content {
        width: 100%;
    }
    .footer_content {
        width: 50%;
        font-size: 20px;
        margin-top: 50px;
    }
    .description_btn {
        width: 180px;
    }
    .models_foto_content {
        width: 100%;
        margin-left: 20px;
        display: block;
        padding-top: 50px;
    }
    .models_foto_content .description_btn {
        right: 60px;
    }
    .models_foto_content h2 {
        font-size: 36px;
        padding-right: 10px;
        text-align: center;
    }
    .models_img {
        display: block;
        width: 100%;
    }
    .models_description {
        position: relative;
        top: 0;
    }
    .models_preview {
        margin-bottom: 0;
        z-index: 5;
    }
    .description_line {
        width: 100%;
    }
    .models_price {
        text-align: center;
    }
    .size_table {
        margin-top: 40px;
    }
    .models_foto_content .description_btn {
        right: 0;
        margin-top: 40px;
    }
    .images:nth-child(odd), .images:nth-child(even) {
        height: 170px;
    }
    .images img {
        height: 100%;
         position: relative;
    /*    left: -25%;*/
    }
    .images:nth-child(2) img, .images:nth-child(3) img, .images:nth-child(6) img {
        height: 100%;
        position: relative;
/*        left: -25%;*/
    }
    .gallery_wrap {
        height: 550px;
    }
    .item p {
        width: 250px;
        line-height: 20px;
    }
    .catalog_item {
        width: 40%;
    }

}
@media (max-width:460px) {
    .banner_description {
        transform: scale(0.6);
        position: absolute;
        right: calc(50% - 250px);
        right: -webkit-calc(50% - 250px);
        right: -moz-calc(50% - 250px);
    }
     .images img {
    
         position: relative;
        left: -25%;
    }
    .images:nth-child(2) img, .images:nth-child(3) img, .images:nth-child(6) img {
       
        position: relative;
        left: -25%;
    }
     .item p {
        width: 240px;
        line-height: 18px;
    }
    .footer_content {
        line-height: 28px;
        width: 40%;
        font-size: 16px;
    }
    footer .description_btn {
        width: 150px;
    }
    .confidentiality {
        width: 50%;
        top: 220px;
        text-align: center;
    }
    .catalog_item {
        width: 90%;
    }
    .models_photo {
        padding-bottom: 0;
    }
    .models_img {
        height: 230px;
    }
    .models_foto_content {
        padding-top: 0;
        margin-top: 40px;
    }
    .prod_item_img {
        height: 260px;
    }
    .catalog_item {
        height: 380px;
    }
  
}